
  <div class="petition__errorMessages">
    <% if (errors.length > 0) { %>
      <h2>Vandræði við að senda umsókn:</h2>
      <ul class="errors">
        <% errors.forEach((error) => { %>
          <li class="error"><label  ><%= error.msg %></label></li>
        <% }); %>
      </ul>
    <% } %>
  </div>
  <a class="back" href="/">Til baka</a>
